.DS_Store
.idea
node_modules
web/static/css/**.css
web/static/img/**.png
web/static/img/**.jpg
web/static/img/**.jpeg
web/static/img/**.svg
web/static/js/**.js
web/static/js/**.js.map
afstudeerproject.min.css
