*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $lucida-grande;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-definitions {
  display: none;
  visibility: hidden;
}
