// Fonts
$lucida-grande:                       "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$lucida-bright:                       "Lucida Bright", Georgia, serif;

// Colors
$black:                               #000;
$white:                               #fff;
$royal-blue:                          #417bdc;
$alto:                                #ddd;
$gray:                                #858585;
$bright-gray:                         #343648;
$manatee:                             #9193a4;
$valencia:                            #da414f;
$alabaster:                           #fafafa;
