// Fonts
$verdana:                             Verdana, Geneva, sans-serif;
$georgia:                             Georgia, Times, "Times New Roman", serif;

// Colors
$black:                               #000;
$white:                               #fff;
$royal-blue:                          #417bdc;
$alto:                                #ddd;
