.intro-block {
  position: relative;
  display: flex;
  min-height: 100vh;
  opacity: 0;
  background-color: $white;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 300px;
    height: 100%;
    content: '';
    background-color: $bright-gray;
    background-image: url("../img/david.jpg");
    background-position: center center;
  }
}

  .intro-block-content {
    width: 1200px;
    padding: 0 120px 0 420px;
  }

    .intro-block-title {
      margin-bottom: 25px;
      font-size: 54px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .intro-block-logo {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 30px;
      fill: $black;
    }

    .intro-block-divider {
      height: 1px;
      margin-bottom: 25px;
      background-color: $black;
    }

    .intro-block-list {
      position: relative;
      display: flex;
      font-family: $consolas;
      font-size: 14px;
      line-height: 1.6;
      flex-wrap: nowrap;
    }

      .intro-block-list-item {
        text-align: center;
        flex: 1 1 auto;

        &:first-child {
          font-weight: bold;
          text-align: left;
          color: $valencia;
        }

        &:last-child {
          text-align: right;
        }
      }
