.text-block {
  padding: 80px 120px 0;
  color: $black;
}

.embed-block,
.slideshow-block {
  + .text-block {
    padding-top: 40px;
  }
}

  .text-block-title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
    color: #343648;
  }

  .text-block-subtitle {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
    color: #343648;
  }

  .text-block-paragraph {
    margin-bottom: 20px;
    font-family: $lucida-bright;
    font-size: 17px;
    line-height: 1.6;
  }

    .text-block-paragraph-sup {
      font-size: smaller;
      line-height: 0;
      vertical-align: super;
    }

    .text-block-paragraph-link {
      font-family: $lucida-grande;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      color: #343648;
      transition: color 100ms ease-out;

      &:hover {
        color: $royal-blue;
      }
    }

  .text-block-list {
    display: block;
    margin: 0 0 20px 20px;
    font-family: $lucida-bright;
  }

    .text-block-list-item {
      margin: 0 0 10px;
      padding-left: 10px;
      list-style: circle;
      font-size: 17px;
      line-height: 1.6;
    }
