.sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  width: 300px;
  height: 100%;
  margin-left: -600px;
  padding: 20px 25px;
  border-right: 2px solid rgb(233, 233, 233);
}

@import 'sidebar-menu';
@import 'sidebar-submenu';
