.sidebar-menu {
  display: block;
}

  .sidebar-menu-item {
    display: block;
  }

    .sidebar-menu-item-title {
      display: block;
      margin: 0 0 10px;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      color: $white;
    }
