.sidebar-submenu {
  display: block;
  margin: 0 0 30px;
}

  .sidebar-submenu-item {
    display: block;
    margin-bottom: 3px;
  }

    .sidebar-submenu-item-link {
      display: block;
      font-size: 12px;
      line-height: 1.5;
      text-decoration: none;
      color: $manatee;

      &:hover {
        color: $white;
      }
    }
