.sidebar {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  overflow: auto;
  width: 300px;
  height: 100%;
  padding: 40px 40px 0;
  font-family: $lucida-grande;
  background-color: $bright-gray;
}

.sidebar--is-fixed {
  position: fixed;
  top: 0;
}

@import 'sidebar-menu';
@import 'sidebar-submenu';
